# sort via: sort -d
#
asan.log.*
[a-z]
*.dSYM
end_player
gene
have_stdbool
have_stdbool.h
have_strlcat
have_strlcat.h
have_strlcpy
have_strlcpy.h
histplot
index
lex.yy.c
.lldbinit
Makefile.bak
modern_curses.h
mrerun_rogo
mstop_rogo
NOTES
*.o
player
rerun_rogo
rgmplot
rogomatic
rogomatic.6
rogomatic.cat
run_rogo
skel/
.stopfile
*.swn
*.swo
*.swp
tags
titlepage
unstuck_player
unused_tmp
